<p *ngIf="check === 1">{{LoadData()}}</p>
<div class="container">
  <div class="row panel headingTop">
      <div class="panel-heading">
        <h2 class="panel-title">Contact Book</h2>
    </div>
</div>

<div class="row" >

    <div class="col-xs-6 ">
      <a href="#" class="row" >
        <div class="col-xs-12 contactList" *ngFor="let x of contactList; let i = index" (click)="Edit(i,userForm)">
          <div class="col-xs-4 EmailPortion ">
            {{x.name}}<br>
            <h6 >{{x.email}}</h6>
          </div>
          <div class="col-xs-4 glyphicon1">
            <span class="glyphicon glyphicon-earphone"></span>
          </div>
          <div class="col-xs-4 PhonePortion ">
            {{x.phone}}
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 Formdiv">
      <form class="form-group" #userForm="ngForm" (ngSubmit)="this[MethodSwaping](userForm.value,userForm)" style="margin-top: 15px;" novalidate>

        <input class="form-control" #nameRef="ngModel" minlength="4" required type="text" name="name"  placeholder="Enter Name" ngModel>

        <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
          <div [hidden]="!nameRef.errors.required">
            Please Enter Name
          </div>
          <div [hidden]="!nameRef.errors.minlength">
            Please Enter alteast 4 Characters
          </div>
        </div>

        <input class="form-control" #emailRef="ngModel" minlength="12" required type="email" name="email"  placeholder="Enter Email" ngModel>

        <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
          <div [hidden]="!emailRef.errors.required">
            Please Enter Email
          </div>
          <div [hidden]="!emailRef.errors.minlength">
            Please Enter alteast 12 Characters
          </div>
        </div>

        <input class="form-control" #phoneRef="ngModel" minlength="11" required type="text" name="phone"  placeholder="Mobile Number" ngModel>

        <div *ngIf="phoneRef.errors && (phoneRef.dirty || phoneRef.touched)" class="alert alert-danger">
          <div [hidden]="!phoneRef.errors.required">
            Please Enter Mobile Number
          </div>
          <div [hidden]="!phoneRef.errors.minlength">
            Please Enter alteast 11 Digits
          </div>
        </div>

        <button [disabled]="!userForm.form.valid" class="btn btn-default btn-success" type="submit" > Submit</button>
      </form>
    </div>

</div>